.wrap {
  padding: 15px;
  border-top: 3px double #999999;
  border-bottom: 3px double #999999;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "wrap-item1 wrap-item3"
    "wrap-item2 wrap-item3";

  .item1 {
    grid-area: wrap-item1;
  }

  .item2 {
    grid-area: wrap-item2;
  }

  .item3 {
    grid-area: wrap-item3;
  }
}

