.container {
  display: grid;
  grid-template-columns: 1fr;
  width: 500px;
}

.container h3 {
  font-size: 22px;
  margin: 0 0 -5px 0;
  font-weight: normal;
}

.container p {
  text-align: justify;
}

.img1 {
  width: 500px;
  height: 320px;
}
