footer {
  width: 1100px;
  background-color: #e0e0e0;
}

.last_wrap_items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  padding-bottom: 10px;
  border-bottom: 3px double #999999;

  p {
    font-size: 13px;
    text-align: justify;
    color: #666666;
    padding-bottom: 5px;
    border-bottom: 1px black solid;
  }

  a {
    float: right;
    font-size: 11px;
    color: #982115;
  }
}

.last_items_item {
  display: grid;
  grid-template-columns: 1fr;
}

// copyright

small {
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  p {
    font-size: 12px;
    color: #787878;
  }
}

.leftstr {
  text-align: left;
}
.rightstr {
  text-align: right;
}
